* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("../public/Simple_Shiny.svg");
  background-repeat: no-repeat;
  background-position: center;
  //   object-fit: cover;
  background-size: cover;
}

.activity {
  margin: 20rem;
  text-align: center;
  width: 50%;
  color: white;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn {
    border-radius: 0.5rem;
    border: 0.0625rem solid orange;
    background-color: rgb(64, 64, 67);
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    box-shadow: -0.625rem 0.625rem rgb(0, 0, 0, 0.1);
  }
  &__title {
    margin: 2rem;
    font-size: 2.5rem;
  }
  &__data {
    background-color: rgb(64, 64, 67);
    font-size: 1.5rem;
    width: fit-content;
    padding: 2rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: -0.625rem 0.625rem rgb(0, 0, 0, 0.1);
  }
  &__desc a {
    text-decoration: none;
    color: white;
  }
}
